<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>black_key_left_waterfall.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,500},{13,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,5}}</string>
			<key>sourceSize</key>
			<string>{13,5}</string>
		</dict>
		<key>black_key_right_waterfall.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,494},{13,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,5}}</string>
			<key>sourceSize</key>
			<string>{13,5}</string>
		</dict>
		<key>great.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,56},{244,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,55}}</string>
			<key>sourceSize</key>
			<string>{244,55}</string>
		</dict>
		<key>zuoshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,482},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>mini_black_key_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,167},{72,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,208}}</string>
			<key>sourceSize</key>
			<string>{72,208}</string>
		</dict>
		<key>mini_black_key_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,167},{72,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,208}}</string>
			<key>sourceSize</key>
			<string>{72,208}</string>
		</dict>
		<key>mini_white_key_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,56},{128,354}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,354}}</string>
			<key>sourceSize</key>
			<string>{128,354}</string>
		</dict>
		<key>mini_white_key_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,112},{128,354}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,354}}</string>
			<key>sourceSize</key>
			<string>{128,354}</string>
		</dict>
		<key>miss.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,112},{172,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,54}}</string>
			<key>sourceSize</key>
			<string>{172,54}</string>
		</dict>
		<key>number_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,494},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>perfect.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{328,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{328,55}}</string>
			<key>sourceSize</key>
			<string>{328,55}</string>
		</dict>
		<key>youshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,482},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>white_key_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,376},{19,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,105}}</string>
			<key>sourceSize</key>
			<string>{19,105}</string>
		</dict>
		<key>white_key_left_waterfall.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,482},{18,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,5}}</string>
			<key>sourceSize</key>
			<string>{18,5}</string>
		</dict>
		<key>white_key_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,376},{19,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,105}}</string>
			<key>sourceSize</key>
			<string>{19,105}</string>
		</dict>
		<key>white_key_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,376},{19,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,105}}</string>
			<key>sourceSize</key>
			<string>{19,105}</string>
		</dict>
		<key>white_key_right_waterfall.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,488},{18,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,5}}</string>
			<key>sourceSize</key>
			<string>{18,5}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>images.png</string>
	</dict>
</dict>
</plist>
